# Third-party CSS
webapp/static/css/bootstrap*.css linguist-vendored
webapp/static/css/carousel.css linguist-vendored
webapp/static/css/font*.css linguist-vendored

# Third-party JS
webapp/static/js/* linguist-vendored

# Base and static Django templates
webapp/templates/webapp/base.html linguist-generated
webapp/templates/webapp/login.html linguist-generated
webapp/templates/webapp/logout.html linguist-generated
webapp/templates/webapp/signup.html linguist-generated
webapp/templates/webapp/policy.html linguist-generated

# Amother Django templates
webapp/templates/webapp/about.html linguist-generated
webapp/templates/webapp/index.html linguist-generated
webapp/templates/webapp/profile.html linguist-generated
