{% extends './base.html' %}

{% load static %}

{% block title %}FAQ{% endblock %}

{% block head %}
    <!--- submit -->
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            $('.accordionTitle').click(function(){
            // Toggle active class for accordion title
            $(this).toggleClass('active');
            
            // Toggle show class for accordion content
            var accordionItem = $(this).next('.accordionItem');
            accordionItem.toggleClass('show');
            
            // Close other accordion items
            $('.accordionItem').not(accordionItem).removeClass('show');
            $('.accordionTitle').not(this).removeClass('active');
        });
    
            
            
        });
    </script>
    <script>
        // Form submission via AJAX
        $().ready(function() {
            $('form').submit( function (e) {
                e.preventDefault();
                dataToSend = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '/about/',
                    data: dataToSend,
                    context: this,
                    dataType: 'json',
                    success: function(responseData) {
                        $('.message-prefix').html(responseData.message_prefix);
                        $('.message-body').html(responseData.message_body);
                        $('.message-error').html(responseData.message_error);

                        if (responseData.message_error !== '') {
                            $('.msg-success').addClass('visually-hidden');
                            $('.msg-error').removeClass('visually-hidden');
                        }
                        else {
                            $('.msg-error').addClass('visually-hidden');
                            $('.msg-success').removeClass('visually-hidden');
                        }
                        
                        $('.feedback-message').removeClass('visually-hidden');
                    },
                });
            });
        });
    </script>
    <script>
        
        document.addEventListener('DOMContentLoaded', (event) => {
            const stars = document.querySelectorAll('.rating input');
            stars.forEach(star => {
                star.addEventListener('change', () => {
                    const checkedStars = document.querySelectorAll('.rating input:checked');
                    checkedStars.forEach(checkedStar => {
                        const labels = checkedStar.closest('.rating').querySelectorAll('label');
                        labels.forEach(label => label.style.color = '#dee2e6');
                        for (let i = 0; i < checkedStar.value; i++) {
                            labels[i].style.color = '#ffd700';
                        }
                    });
                });
            });
        });

        $().ready( function (e) {
            const stars = $('.rating input');
            stars.prop('hidden', true);
        });

    </script>

<link rel="stylesheet" href="{% static '/css/about.css' %}">
{% endblock %}

{% block content %}
<div class="container">
        <div class="header container d-flex justify-content-center">
            <h3 class="mt-3 my-3">Часто задаваемые вопросы</h3>
        </div>
        <div class="row mb-3 my-3">
            <div class="col">
                <div class="accordion row col-md-12" id="accordionFAQ">
                    {% for faq in faqs %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ forloop.counter0 }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter0 }}" data-bs-parent="#accordionFAQ">
                                <strong>{{ faq.question }}</strong>
                            </button>
                        </h2>
                        <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter0 }}" data-bs-parent="#accordionFAQ">
                            <div class="accordion-body">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    

    <h3 class="section-heading text-center">Обратная связь</h3>

    <!-- Feedback form -->
    {% if request.user.is_authenticated %}
    <div class="feedback-form">
        <form method="post">
            {% csrf_token %}
            <div class="form-group row col-md-12 d-flex jutify-content-start">
                <label for="feedback-text" class="form-label"><strong>{{ form.text.label_tag }}</strong></label>
                
            </div>
            <div class="row col-md-12 d-flex jutify-content-center">
                {{ form.text }}
            </div>
            <div class="form-group d-flex jutify-content-center py-3 my-3 row col-md-12">
                <div class="row col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 d-flex justify-content-center"><label class="form-label">Оцените работу сервиса:</label></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="rating">
                            {% for choice in form.rate %}
                                {{ choice.tag }}
                                <label for="{{ choice.id_for_label }}"><i class="far fa-star fa-xl"></i></label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="form-group row d-flex jutify-content-center">
                <div class="col-md-5"></div>
                <div class="col-md-2 d-flex justify-content-center"><button type="submit" class="btn-custom">Отправить</button></div>
                <div class="col-md-5"></div>
            </div>
            
        </form>
    </div>

    

    <div class="feedback-message">
        <!-- <div class="form-group row d-flex jutify-content-center py-3 my-3">
            <div class="col-md-2"></div>
            <div class="col-md-8"><h3 class="message-prefix"></h3><h3 class="message-error visually-hidden"></h3></div>
            <div class="col-md-2"></div>
        </div> -->
        <div class="form-group row d-flex jutify-content-center py-3 my-3 visually-hidden msg-success">
            <div class="col-md-2"></div>
            <div class="alert alert-success col-md-8" role="alert">
                <h5 class="message-prefix"></h5>
                <p class="message-body"></p>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="form-group row d-flex jutify-content-center py-3 my-3 visually-hidden msg-error">
            <div class="col-md-2"></div>
            <div class="alert alert-warning col-md-8" role="alert">
                <h5 class="message-error"></h5>
            </div>
            <div class="col-md-2"></div>
        </div>
        
    </div>
    {% else %}
    <div class="form-group d-flex jutify-content-center py-3 my-3 row col-md-12 login-required">
        <div class="row col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 d-flex justify-content-center"><p class="login-message">Для отправки обратной связи, пожалуйста, <a href="/login/">авторизуйтесь</a>.</p></div>
            <div class="col-md-2"></div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block externals %}
{% endblock %}

